.navbar {
    display: flex;
    .left {
        flex-grow: 1;
    }

    .profile {
        img {
            border-radius: 20px;
            height: 40px;
            width: 40px;
        }
    }
}