.tabs {
    display: flex;
    justify-content: center;

    .tab {
        a {
            display: block;
            padding: 20px;
            text-transform: uppercase;
            text-decoration: none;
            color: black;

            &.active {
                color: pink;
                border-bottom: 2px solid pink;
            }
        }
    }
}