.upl {
    font-size: .8em;
    padding: 12px 25px;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    background-image: linear-gradient(102deg,#f38b90,#6199ff);
}