.content > .integrations {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    .integration {
        display: flex;
        width: 1040px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 3px 4px 5px 0px rgba(0, 4, 15, 0.05);
        margin: 0 0 40px;

        img {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            width: 535px;
        }

        .info {
            padding: 20px 40px;
            flex-grow: 1;
            .inventory, .proposals {
                padding: 10px 20px;
                text-transform: uppercase;
                border-radius: 10px;
                text-align: center;
            }

            p {
                margin: 10px 0 30px;
            }

            a.internal-link {
                text-decoration: none;
            }

            .inventory {
                background-color: black;
                text-decoration: none;
                margin: 10px 0;
                color: white;
                font-weight: 500;
            }

            .proposals {
                border: 2px solid #cbd0d8;
                text-decoration: none;
                margin: 10px 0;
                color: #2a2c2e;
                opacity: 0.35;
                font-weight: 500;
            }

            a.external-link {
                margin-top: 15px;
                text-align: center;
                display: block;
                color: #9f9f9f;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
}