.content > .inventory {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    align-items: center;

    .profile-header {
        display: flex;
        margin: 30px 0;

        img {
            height: 60px;
            width: 60px;
            border-radius: 60px;
            margin: 0 18px;
        }

        .info {
            display: flex;
            flex-direction: column;

            .tag {
                display: flex;
                .name {
                    color: black;
                    font-weight: bold;
                }
                .num {
                    color: #bbb;
                }
            }

            h1 {
                margin: 5px 0;
            }
        }
    }

    .items {
        width: 1200px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        // negate the item margin-top
        margin-top: -10px;
        .item {
            background-color: white;
            box-shadow: 3px 4px 5px 0px rgba(0, 4, 15, 0.05);
            margin: 10px 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            
            .display-image {
                border-radius: 10px;
                width: 290px;
                img {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    height: 100%;
                    width: 100%;
                }
            }

            .info {
                padding: 15px 30px;
            }
        }
    }
}